<!-- _includes/desmos.html -->
<div
  class="desmos-embed"
  data-hash="{{ include.hash }}"
  data-keypad="{{ include.keypad | default: 'false' }}"
  data-expressions="{{ include.expressions | default: 'false' }}"
  data-settings-menu="{{ include.settings_menu | default: 'false' }}"
  data-zoom-buttons="{{ include.zoom_buttons | default: 'false' }}"
  data-lock-viewport="{{ include.lock_viewport | default: 'true' }}"
  data-border="{{ include.border | default: 'false' }}"
  data-show-grid="{{ include.show_grid | default: 'true' }}"
  data-x-axis-label="{{ include.x_axis_label | default: 'x' }}"
  data-y-axis-label="{{ include.y_axis_label | default: 'y' }}"
></div>
