---
---

img.tikz {
  transform: scale(1.5);
  transform-origin: center;
}

@media (prefers-color-scheme: dark) {

  html:not([data-mode]),
  html[data-mode=dark] {
    img.tikz {
      filter: invert(100%);
    }
  }
}
